<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.codepotato.view">
    <uses-sdk android:minSdkVersion="18"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.codepotato.view.InitialScr"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.codepotato.view.EffectsConfigScr"
                android:label="@string/title_activity_effects_config_scr"
                android:parentActivityName="com.codepotato.view.InitialScr"
                android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.codepotato.view.InitialScr"/>
        </activity>
        <activity
                android:name="com.codepotato.view.EffectSettingsScr"
                android:label="@string/title_activity_effect_settings_scr"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="com.codepotato.view.RecordingLibraScr"
                android:label="@string/title_activity_recording_libra_scr"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="com.codepotato.view.AboutScr"
                android:label="@string/title_activity_about_scr"
                android:screenOrientation="portrait">
        </activity>
    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
